/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

div#banner {
  width: 100%;
  background-color: Grey;
}

div#side-bar {
  width: 20%;
  height: 400px;
  float: left;
  color:  #fff;
  background-color: Navy;
}

div#content {
  width: 80%;
  float: left;
}
