<!DOCTYPE html>
<html>
<head>
  <title>Iso639Config</title>
  <%= stylesheet_link_tag    "iso639_config/application" %>
  <%= javascript_include_tag "iso639_config/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Engine layout</h1>
<%= yield %>

</body>
</html>
